torch>=1.4.0
timm @ git+https://github.com/deeplearningfromscratch/pytorch-image-models.git
torchvision
pyyaml
numpy

# an update version that fixes some bugs, incl issues with numpy >= 1.18
pycocotools>=2.0.2

omegaconf>=2.0
